# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

code/C64MultiKernel_PIC12F629\.hex

code/C64MultiKernel_PIC12F675\.hex

code/C64MultiKernel\.asm

code/C64MultiKernel\.bmk

code/C64MultiKernel\.brk

code/C64MultiKernel\.c\.ini

code/C64MultiKernel\.cp

code/C64MultiKernel\.dbg

code/C64MultiKernel\.dct

code/C64MultiKernel\.dlt

code/C64MultiKernel\.log

code/C64MultiKernel\.lst

code/C64MultiKernel\.lst\.ini

code/C64MultiKernel\.mcl

code/C64MultiKernel\.mcppi_callertable\.txt

code/C64MultiKernel\.user\.dic

code/C64MultiKernel\.wch

kernal/
